workflow_n8n_v9.json
{
    "name": "DISPARO WHATSAPP - V9 SAFE MODE (ANTIFALHA)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "disparo-whatsapp",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "a46e6b77-e2d6-4b0f-9e00-38a8ffb1f26d",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -800,
                208
            ],
            "webhookId": "disparo-whatsapp"
        },
        {
            "parameters": {
                "jsCode": "const input = $input.item.json;\nconst body = input.body || input;\nconst mensagemGlobal = body.message || body.mensagem || '';\nconst mediaData = body.media || null;\nconst audioData = body.audio || null;\n\n// Captura credenciais. Se não vier, usa string vazia.\nconst instanceName = body.instance || 'assessor_prosperazap';\nconst apiKey = body.apiKey || 'f98fed17beccac0149db6cfe6bfb7fff';\n\nlet lista = [];\nif (body.contatos && Array.isArray(body.contatos)) {\n    lista = body.contatos;\n} else if (Array.isArray(body)) {\n    lista = body;\n} else {\n    lista = [body];\n}\n\n// PROCESSA CONTATOS E PREPARA O TIPO DE ENVIO\nreturn lista.map(c => {\n  let tel = String(c.number || c.telefone || c.numero || '').replace(/\\D/g, '');\n  \n  if ((tel.length === 10 || tel.length === 11) && !tel.startsWith('55') && !tel.startsWith('1')) {\n    tel = '55' + tel;\n  }\n  \n  let msgFinal = mensagemGlobal.replace(/{nome}/gi, c.nome || c._nome_exibicao || 'Cliente');\n\n  return {\n    json: {\n      number: tel,\n      text: msgFinal,\n      media: mediaData,\n      audio: audioData,\n      instance: instanceName,\n      apiKey: apiKey\n    }\n  };\n}).filter(item => item.json.number.length >= 10);"
            },
            "id": "1884deb9-77d2-4538-94bd-5e735e03b11a",
            "name": "Processar Dados",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -544,
                208
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"message\": \"Processado pelo N8N (Safe Mode)\",\n  \"enviados\": {{ $('Processar Dados').all().length }}\n}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "id": "7e274d9f-9aca-4b23-ae58-f40931f217ef",
            "name": "Resposta Interface",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                -304,
                464
            ]
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.audio }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "string",
                                            "operation": "isNotEmpty"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "audio"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.media }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "string",
                                            "operation": "isNotEmpty"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "media"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ true }}",
                                        "rightValue": "={{ true }}",
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "true"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "texto"
                        }
                    ]
                },
                "options": {}
            },
            "id": "c8eb8c51-61b9-4735-ac94-80b5a3f8f577",
            "name": "Qual Tipo de Envio?",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                -304,
                208
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://evolution.naturaisterravida.com.br/message/sendWhatsAppAudio/{{ $json.instance }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $json.apiKey }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({\n  number: $json.number,\n  audio: ($json.audio.data || $json.audio),\n  options: { delay: 1200 }\n}) }}",
                "options": {
                    "batching": {
                        "batch": {
                            "batchSize": 1,
                            "batchInterval": 3000
                        }
                    }
                }
            },
            "id": "5f8a5405-a2fd-4f50-959d-3e89fbb536b9",
            "name": "Enviar WhatsApp Audio",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                0,
                0
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://evolution.naturaisterravida.com.br/message/sendMedia/{{ $json.instance }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $json.apiKey }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({\n  number: $json.number,\n  media: ($json.media.data || $json.media),\n  mediatype: (($json.media.mimetype || '').split('/')[0] || 'image'),\n  mimetype: $json.media.mimetype,\n  caption: $json.text,\n  fileName: $json.media.filename,\n  options: { delay: 1200 }\n}) }}",
                "options": {
                    "batching": {
                        "batch": {
                            "batchSize": 1,
                            "batchInterval": 5000
                        }
                    }
                }
            },
            "id": "86b52786-5e93-4bd1-ae11-68b11d764a8b",
            "name": "Enviar Arquivo/Foto",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                0,
                200
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://evolution.naturaisterravida.com.br/message/sendText/{{ $json.instance }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $json.apiKey }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({\n  number: $json.number,\n  text: $json.text,\n  options: { delay: 1200, linkPreview: true }\n}) }}",
                "options": {
                    "batching": {
                        "batch": {
                            "batchSize": 1,
                            "batchInterval": 3000
                        }
                    }
                }
            },
            "id": "12fb7f22-c06d-4cf5-ae22-c446aa8da9a9",
            "name": "Enviar Texto Puro",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                0,
                400
            ],
            "onError": "continueRegularOutput"
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Processar Dados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Processar Dados": {
            "main": [
                [
                    {
                        "node": "Resposta Interface",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Qual Tipo de Envio?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Qual Tipo de Envio?": {
            "main": [
                [
                    {
                        "node": "Enviar WhatsApp Audio",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Enviar Arquivo/Foto",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Enviar Texto Puro",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}